@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}
